EnvioTeste/Service References/nfse/WSnfse.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Autorizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:CapaAutorizacaoNfse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CapaAutorizacaoNfse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="autorizar" type="tns:Autorizar" />
          <s:element minOccurs="1" maxOccurs="1" name="homologacao" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="identificador_nota" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="id_usuario" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Autorizar">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="data_emissao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="natureza_operacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="regime_especial_tributacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="optante_simples_nacional" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="incentivador_cultural" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tributacao_rps" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_obra" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="art" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="prestador" type="tns:Prestador" />
          <s:element minOccurs="0" maxOccurs="1" name="tomador" type="tns:Tomador" />
          <s:element minOccurs="0" maxOccurs="1" name="servico" type="tns:Servico" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Prestador">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cnpj" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inscricao_municipal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_municipio" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Tomador">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cnpj" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cpf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="razao_social" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inscricao_municipal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telefone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="endereco" type="tns:Endereco" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Endereco">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="logradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_logradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="complemento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bairro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_municipio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="uf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cep" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Servico">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="aliquota" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="discriminacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iss_retido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="item_lista_servico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_tributario_municipio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valor_servicos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valor_deducoes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valor_pis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valor_cofins" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valor_inss" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valor_ir" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valor_csll" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valor_iss" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valor_iss_retido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="outras_retencoes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="base_calculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="desconto_incondicionado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="desconto_condicionado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_cnae" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_municipio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="percentual_total_tributos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fonte_total_tributos" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AutorizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutorizarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Consultar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="tns:Consultar" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Consultar">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cnpj_prestador" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="homologacao" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="id_usuario" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Consultar_testes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Consultar_testesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Consultar_testesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cancelar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="tns:Cancelar" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cancelar">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="justificativa" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="homologacao" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="CancelarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cancelar_testes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cancelar_testesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cancelar_testesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GerarNfse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_grv" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_isdev" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GerarNfseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GerarNfseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutorizarSoapIn">
    <wsdl:part name="parameters" element="tns:Autorizar" />
  </wsdl:message>
  <wsdl:message name="AutorizarSoapOut">
    <wsdl:part name="parameters" element="tns:AutorizarResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarSoapIn">
    <wsdl:part name="parameters" element="tns:Consultar" />
  </wsdl:message>
  <wsdl:message name="ConsultarSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarResponse" />
  </wsdl:message>
  <wsdl:message name="Consultar_testesSoapIn">
    <wsdl:part name="parameters" element="tns:Consultar_testes" />
  </wsdl:message>
  <wsdl:message name="Consultar_testesSoapOut">
    <wsdl:part name="parameters" element="tns:Consultar_testesResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarSoapIn">
    <wsdl:part name="parameters" element="tns:Cancelar" />
  </wsdl:message>
  <wsdl:message name="CancelarSoapOut">
    <wsdl:part name="parameters" element="tns:CancelarResponse" />
  </wsdl:message>
  <wsdl:message name="Cancelar_testesSoapIn">
    <wsdl:part name="parameters" element="tns:Cancelar_testes" />
  </wsdl:message>
  <wsdl:message name="Cancelar_testesSoapOut">
    <wsdl:part name="parameters" element="tns:Cancelar_testesResponse" />
  </wsdl:message>
  <wsdl:message name="GerarNfseSoapIn">
    <wsdl:part name="parameters" element="tns:GerarNfse" />
  </wsdl:message>
  <wsdl:message name="GerarNfseSoapOut">
    <wsdl:part name="parameters" element="tns:GerarNfseResponse" />
  </wsdl:message>
  <wsdl:portType name="WSnfseSoap">
    <wsdl:operation name="Autorizar">
      <wsdl:input message="tns:AutorizarSoapIn" />
      <wsdl:output message="tns:AutorizarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <wsdl:input message="tns:ConsultarSoapIn" />
      <wsdl:output message="tns:ConsultarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Consultar_testes">
      <wsdl:input message="tns:Consultar_testesSoapIn" />
      <wsdl:output message="tns:Consultar_testesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cancelar">
      <wsdl:input message="tns:CancelarSoapIn" />
      <wsdl:output message="tns:CancelarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cancelar_testes">
      <wsdl:input message="tns:Cancelar_testesSoapIn" />
      <wsdl:output message="tns:Cancelar_testesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GerarNfse">
      <wsdl:input message="tns:GerarNfseSoapIn" />
      <wsdl:output message="tns:GerarNfseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSnfseSoap" type="tns:WSnfseSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Autorizar">
      <soap:operation soapAction="http://tempuri.org/Autorizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <soap:operation soapAction="http://tempuri.org/Consultar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar_testes">
      <soap:operation soapAction="http://tempuri.org/Consultar_testes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancelar">
      <soap:operation soapAction="http://tempuri.org/Cancelar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancelar_testes">
      <soap:operation soapAction="http://tempuri.org/Cancelar_testes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarNfse">
      <soap:operation soapAction="http://tempuri.org/GerarNfse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSnfseSoap12" type="tns:WSnfseSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Autorizar">
      <soap12:operation soapAction="http://tempuri.org/Autorizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <soap12:operation soapAction="http://tempuri.org/Consultar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar_testes">
      <soap12:operation soapAction="http://tempuri.org/Consultar_testes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancelar">
      <soap12:operation soapAction="http://tempuri.org/Cancelar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancelar_testes">
      <soap12:operation soapAction="http://tempuri.org/Cancelar_testes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarNfse">
      <soap12:operation soapAction="http://tempuri.org/GerarNfse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSnfse">
    <wsdl:port name="WSnfseSoap" binding="tns:WSnfseSoap">
      <soap:address location="http://localhost:8655/WSnfse.asmx" />
    </wsdl:port>
    <wsdl:port name="WSnfseSoap12" binding="tns:WSnfseSoap12">
      <soap12:address location="http://localhost:8655/WSnfse.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>