EnvioTeste/Service References/nfse/WSnfse.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SolicitarEmissaoNotaFiscal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CapaAutorizacaoNfse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CapaAutorizacaoNfse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Autorizacao" type="tns:Autorizacao" />
          <s:element minOccurs="1" maxOccurs="1" name="Homologacao" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CodigoRetorno" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UsuarioId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Autorizacao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="data_emissao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="natureza_operacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="regime_especial_tributacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="optante_simples_nacional" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="incentivador_cultural" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tributacao_rps" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_obra" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="art" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="prestador" type="tns:Prestador" />
          <s:element minOccurs="0" maxOccurs="1" name="tomador" type="tns:Tomador" />
          <s:element minOccurs="0" maxOccurs="1" name="servico" type="tns:Servico" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Prestador">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cnpj" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inscricao_municipal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_municipio" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Tomador">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cnpj" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cpf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="razao_social" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inscricao_municipal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telefone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="endereco" type="tns:Endereco" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Endereco">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="logradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_logradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="complemento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bairro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_municipio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="uf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cep" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Servico">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="aliquota" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="discriminacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iss_retido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="item_lista_servico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_tributario_municipio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valor_servicos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valor_deducoes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valor_pis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valor_cofins" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valor_inss" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valor_ir" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valor_csll" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valor_iss" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="valor_iss_retido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="outras_retencoes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="base_calculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="desconto_incondicionado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="desconto_condicionado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_cnae" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_municipio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="percentual_total_tributos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fonte_total_tributos" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SolicitarEmissaoNotaFiscalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SolicitarEmissaoNotaFiscalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceberNotaFiscal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:Consulta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Consulta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UsuarioId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CodigoRetorno" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CnpjPrestador" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Homologacao" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReceberNotaFiscalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceberNotaFiscalResult" type="tns:RetornoNotaFiscal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetornoNotaFiscal">
        <s:complexContent mixed="false">
          <s:extension base="tns:RetornoErro">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="NotaFiscalId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="cnpj_prestador" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ref" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="codigo_verificacao" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="data_emissao" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="caminho_xml_nota_fiscal" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ImagemNotaFiscal" type="s:base64Binary" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RetornoErro">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NotaFiscalErroId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AutorizacaoNotaFiscalId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UsuarioId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoErro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MensagemErro" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CancelarNotaFiscal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:Cancelamento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cancelamento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UsuarioId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CodigoRetorno" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CnpjPrestador" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Justificativa" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Homologacao" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="CancelarNotaFiscalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelarNotaFiscalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SolicitarEmissaoNotaFiscalSoapIn">
    <wsdl:part name="parameters" element="tns:SolicitarEmissaoNotaFiscal" />
  </wsdl:message>
  <wsdl:message name="SolicitarEmissaoNotaFiscalSoapOut">
    <wsdl:part name="parameters" element="tns:SolicitarEmissaoNotaFiscalResponse" />
  </wsdl:message>
  <wsdl:message name="ReceberNotaFiscalSoapIn">
    <wsdl:part name="parameters" element="tns:ReceberNotaFiscal" />
  </wsdl:message>
  <wsdl:message name="ReceberNotaFiscalSoapOut">
    <wsdl:part name="parameters" element="tns:ReceberNotaFiscalResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarNotaFiscalSoapIn">
    <wsdl:part name="parameters" element="tns:CancelarNotaFiscal" />
  </wsdl:message>
  <wsdl:message name="CancelarNotaFiscalSoapOut">
    <wsdl:part name="parameters" element="tns:CancelarNotaFiscalResponse" />
  </wsdl:message>
  <wsdl:portType name="WSnfseSoap">
    <wsdl:operation name="SolicitarEmissaoNotaFiscal">
      <wsdl:input message="tns:SolicitarEmissaoNotaFiscalSoapIn" />
      <wsdl:output message="tns:SolicitarEmissaoNotaFiscalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReceberNotaFiscal">
      <wsdl:input message="tns:ReceberNotaFiscalSoapIn" />
      <wsdl:output message="tns:ReceberNotaFiscalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelarNotaFiscal">
      <wsdl:input message="tns:CancelarNotaFiscalSoapIn" />
      <wsdl:output message="tns:CancelarNotaFiscalSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSnfseSoap" type="tns:WSnfseSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SolicitarEmissaoNotaFiscal">
      <soap:operation soapAction="http://tempuri.org/SolicitarEmissaoNotaFiscal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceberNotaFiscal">
      <soap:operation soapAction="http://tempuri.org/ReceberNotaFiscal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarNotaFiscal">
      <soap:operation soapAction="http://tempuri.org/CancelarNotaFiscal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSnfseSoap12" type="tns:WSnfseSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SolicitarEmissaoNotaFiscal">
      <soap12:operation soapAction="http://tempuri.org/SolicitarEmissaoNotaFiscal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceberNotaFiscal">
      <soap12:operation soapAction="http://tempuri.org/ReceberNotaFiscal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarNotaFiscal">
      <soap12:operation soapAction="http://tempuri.org/CancelarNotaFiscal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSnfse">
    <wsdl:port name="WSnfseSoap" binding="tns:WSnfseSoap">
      <soap:address location="http://localhost:8655/WSnfse.asmx" />
    </wsdl:port>
    <wsdl:port name="WSnfseSoap12" binding="tns:WSnfseSoap12">
      <soap12:address location="http://localhost:8655/WSnfse.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>